body {
    font-family:'Segoe UI';
    text-align: center;
    background-image: linear-gradient(#253279, #000000);
    color: #fff;
}

.head {
    color: #fff;
    padding-top: 40vh;
    padding-bottom: 46vh;
    background-position: top;
}

.downloads {
    padding-top: 35vh;
    padding-bottom: 25vh;
}

a {
    color: #006de9;
}

a:hover {
    color: #006de98f;
}

.end a {
    color: #000000;
} 
.end a:hover {
    color: #006de9;
}
    

