body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.head {
    background-color: #7600ad;
    color: #fff;
    padding-top: 25vh;
    padding-bottom: 49vh;
    background-position: top;
    padding-left: 10vh;
    padding-right: 10vh;
}

.main {
    padding-top: 34vh;
    padding-bottom: 15vh;
    padding-left: 10vh;
    padding-right: 10vh;
}


a {
    color: #000000;
}

a:hover {
    color: #006de9;
}

p {
    font-size: larger;
}

.head h2:nth-child(2){
    padding-top: 5vh;
}