body {
    font-family:'Segoe UI';
    text-align: center;
    background-color: #000000;
    color: #fff;
}

.head {
    background-color: #030E1F;
    color: #fff;
    padding-top: 40vh;
    padding-bottom: 50vh;
    background-position: top;
}

.main {
    padding-top: 35vh;
    padding-bottom: 25vh;
    opacity: 1;
}


a {
    color: #000000;
}

a:hover {
    color: #006de9;
}