body {
    font-family:'Segoe UI';
    text-align: center;
    background-image: linear-gradient(#071d3f, #000000);
    color: #fff;
}

.head {
    color: #fff;
    padding-top: 40vh;
    padding-bottom: 50vh;
    background-position: top;
}

.main {
    padding-top: 35vh;
    padding-bottom: 10vh;
}


a {
    color: #fff;
}

a:hover {
    color: #006de9;
}
